[submodule "common"]
	path = common
	url = https://github.com/criempie/battleship-common.git
[submodule "client"]
	path = client
	url = https://github.com/criempie/battleship-client.git
[submodule "server"]
	path = server
	url = https://github.com/criempie/battleship-server.git
